<launch>
    <!-- run turtlebot3_remote.launch: -->
    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"></include>

    <!-- start rviz: -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_description)/rviz/model.rviz"/>

    <!-- run webpage.py in skalman/webpage: -->
    <node pkg="skalman" type="webpage.py" name="webpage_node" output="screen"></node>

    <!-- republish the ROS videostream as compressed images: -->
    <node name="republish" type="republish" pkg="image_transport" output="screen" args="raw in:=/skalman_camera/image_raw compressed out:=/skalman_camera/image_raw" />
</launch>
